$game: green;
$rack: rgb(10, 10, 10);
.load {
    padding-top: 30vh;
}
.ended {
    padding-top: 20vh;
    font-size: 2vw;
}
.game {
    background-color: $game;
    height: 100vh;
    > div {
        position: fixed;
    }
}
.timer {
    width: 10%;
    bottom: 20%;
    right: 8%;
    font-size: 2vw;
}
.finish {
    composes: bgBlWh btn from "../composed.scss";
    width: 6%;
    bottom: 6%;
    right: 10%;
    font-size: 1.7vw;
    border-radius: 50%;
    padding: 0.5%;
}
.sort {
    composes: bgBlWh btn from "../composed.scss";
    width: 4%;
    height: 8%;
    left: 12%;
    line-height: 4vh;
    border-radius: 15%;
}
.runS {
    composes: sort;
    bottom: 18%;
}
.groupS {
    composes: sort;
    bottom: 4%;
}
.rules {
    composes: bgBlWh btn from "../composed.scss";
    width: 3%;
    bottom: 26%;
    left: 5%;
}
.players {
    height: 40%;
    width: 18%;
    top: 15%;
    right: 1%;
}
.ply {
    composes: bgBlWh from "../composed.scss";
    height: 25%;
    border: 10px solid $game;
    display: flex;
    justify-content: space-between;
}
.myTurn {
    border-color: magenta;
}
.slots {
    composes: flexWrap from "../composed.scss";
    width: 60%;
    left: 20%;
}
.r {
    composes: slots;
    background-color: $rack;
    height: 31%;
    bottom: 0;
    align-content: space-around;
    > div {
        background-color: lighten($rack, 10%);
        height: 42%;
    }
}
@for $i from 16 through 25 {
    .r#{$i*2} > div {
        width: 100% / $i;
    }
}
.b {
    composes: slots;
    height: 62%;
    top: 3%;
    align-content: space-between;
    > div {
        background-color: lighten($game, 2%);
    }
}
.b64 > div {
    width: 6.25%;
    height: 21%;
}
.b120 > div {
    width: 5%;
    height: 15%;
}
.b225 > div {
    width: 4%;
    height: 10%;
}
%tile {
    background-color: wheat;
}
.tile {
    composes: btn fontNarrow from "../composed.scss";
    @extend %tile;
    width: 100%;
    height: 100%;
    font-size: 2vw;
    transition: background-color 0.5s;
    div {
        color: $game;
        font-size: 2.5vw;
        margin-top: -1vh;
    }
    .b120 & {
        line-height: normal;
        div {
            font-size: 2vw;
        }
    }
    .b225 & div {
        display: none;
    }
}
.mine {
    border: 0.1vw solid $rack;
    border-top: none;
    border-bottom-width: 0.3vw;
}
.selected {
    background-color: darken(wheat, 8%);
}
.pool {
    composes: flexWrap from "../composed.scss";
    width: 15%;
    height: 50%;
    left: 2.5%;
    top: 5%;
    flex-direction: column;
    align-content: flex-start;
    transform: skew(-5deg) rotate(-5deg);
}
@for $i from 4 through 1 {
    .s#{$i} {
        box-shadow: inset -#{$i/20}vw -#{$i/10}vw;
    }
}
.stack {
    composes: s4;
    @extend %tile;
    width: 20%;
    height: 18%;
    margin: 1%;
    color: rgba(black, 0.2);
}
.black {
    color: black;
}
.red {
    color: red;
}
.orange {
    color: darkorange;
}
.blue {
    color: blue;
}
.joker {
    color: magenta;
}
.points {
    composes: cards from "../composed.scss";
    div {
        @extend %tile;
        width: 20%;
    }
    h1 {
        font-size: 2vw;
        margin-bottom: 15px;
    }
    button {
        @extend .prize;
        width: 120px;
        font-size: x-large;
    }
}
.selectedPnt {
    composes: joker;
    display: inline-block;
    font-size: x-large;
    margin: 30px;
}
.numOply {
    font-size: 24px;
    margin-right: 20px;
}
.slot {
    composes: vaMid from "../composed.scss";
    width: 3.75vw;
    height: 13.02vh;
    margin: 10px;
}
.hidden {
    opacity: 0;
}
.selectedPly {
    composes: ss from "../Components/spin.module.scss";
}
.prize {
    margin: 20px;
}
