$game: green;
$rack: rgb(10, 10, 10);
$joker: #886ce4;
.joker {
    color: $joker;
}
.black {
    color: black;
}
.red {
    color: red;
}
.orange {
    color: darkorange;
}
.blue {
    color: blue;
}
.wait {
    padding-top: 30vh;
    b {
        font-size: 25px;
    }
    div {
        margin: 50px;
    }
}
.ended {
    composes: wait;
    font-size: 1.8vw;
    b {
        font-size: 8vh;
        position: fixed;
        left: 25%;
        transform: translateY(-12vh);
        width: 50%;
    }
    button {
        font-size: 1.2vw;
        margin-top: 3vh;
    }
}
.WON {
    text-shadow: 0 0 5vh $joker, 0 0 5vh $joker;
    @keyframes desc {
        from {
            transform: translateY(-40vh) scale(0.8);
        }
    }
    animation: desc 2.5s linear;
}
.lost {
    text-shadow: 0 0 5vh red, 0 0 5vh red;
    @keyframes dance {
        0% {
            transform: translateY(-30vh) scale(0.8);
        }
        60% {
            transform: translateY(-10vh) rotateX(90deg);
        }
    }
    animation: dance 2.5s linear;
}
.game {
    background-color: $game;
    height: 100vh;
    > div {
        position: fixed;
    }
}
.timer {
    width: 11%;
    bottom: 20%;
    right: 7.5%;
    font-size: 2vw;
    font-weight: 700;
    text-shadow: 0 0 0.3vw black;
    @keyframes turnStart {
        0% {
            transform: translate(-37vw, -30vh) scale(1.5);
        }
        50% {
            transform: translate(-37vw, -30vh) scale(2);
        }
    }
    animation: turnStart 2s;
}
.finish {
    composes: bgBlWh btn from "../composed.scss";
    width: 6%;
    bottom: 6%;
    right: 10%;
    font-size: 1.7vw;
    border-radius: 50%;
    padding: 0.5%;
}
.sort {
    composes: bgBlWh btn from "../composed.scss";
    width: 4%;
    height: 8%;
    left: 14%;
    line-height: 4vh;
    border-radius: 15%;
}
.runS {
    composes: sort;
    bottom: 18%;
}
.groupS {
    composes: sort;
    bottom: 4%;
}
.rules {
    composes: bgBlWh btn from "../composed.scss";
    width: 3%;
    bottom: 23%;
    left: 6%;
}
.alerr {
    composes: bgBlWh btn from "../composed.scss";
    composes: red;
    max-width: 20%;
    font-size: 1.5vw;
    top: 40%;
    left: 40%;
    border: 0.2vw dashed;
    border-radius: 1vw;
    text-shadow: 0 0 0.05vw black;
}
.players {
    height: 56%;
    width: 18%;
    top: 5%;
    right: 1%;
    text-align: left;
    line-height: 1.6;
}
.ply {
    composes: bgBlWh from "../composed.scss";
    height: 25%;
    border: 1vh solid $game;
    border-radius: 4vh 9vh 9vh 4vh;
    padding: 0.6vw;
    display: flex;
    justify-content: space-between;
}
.myTurn {
    border-color: $joker;
}
.slots {
    composes: flexWrap from "../composed.scss";
    width: 60%;
    left: 20%;
}
.r {
    composes: slots;
    background-color: $rack;
    height: 31%;
    bottom: 0;
    align-content: space-around;
    > div {
        background-color: lighten($rack, 10%);
        height: 42%;
    }
}
@for $i from 16 through 25 {
    .r#{$i*2} > div {
        width: 100% / $i;
    }
}
.b {
    composes: slots;
    height: 62%;
    top: 3%;
    align-content: space-between;
    > div {
        background-color: lighten($game, 2%);
    }
}
.b64 > div {
    width: 6.25%;
    height: 21%;
}
.b120 > div {
    width: 5%;
    height: 15%;
}
.b225 > div {
    width: 4%;
    height: 10%;
}
%tile {
    background-color: wheat;
    border-radius: 6%;
}
.tile {
    composes: btn fontNarrow from "../composed.scss";
    @extend %tile;
    width: 100%;
    height: 100%;
    font-size: 2vw;
    transition: background-color 0.5s;
    div {
        color: $game;
        font-size: 2.5vw;
        margin-top: -1vh;
    }
    .b120 & {
        line-height: normal;
        div {
            font-size: 2vw;
        }
    }
    .b225 & div {
        display: none;
    }
}
.mine {
    border: 0.1vw solid $rack;
    border-top: none;
    border-bottom-width: 0.3vw;
}
.selected {
    background-color: darken(wheat, 7%);
}
.pool {
    composes: flexWrap from "../composed.scss";
    width: 16%;
    height: 60%;
    left: 2%;
    top: 5%;
    flex-direction: column;
    align-content: flex-start;
}
@for $i from 4 through 1 {
    .s#{$i} {
        $len: -$i * 0.15vw;
        box-shadow: inset $len / 2 $len, inset ($len + 0.6vw) / 2 $len + 0.6vw $game;
    }
}
.stack {
    composes: s4;
    @extend %tile;
    width: 22%;
    height: 18%;
    margin: 1%;
    color: rgba(black, 0.17);
    border-top-right-radius: 18%;
    border-bottom-left-radius: 20%;
}
.points {
    composes: cards from "../composed.scss";
    div {
        @extend %tile;
        width: 20%;
    }
    h1 {
        font-size: 2vw;
        margin-bottom: 15px;
    }
    button {
        @extend .prize;
        width: 120px;
        font-size: x-large;
    }
}
.selectedPnt {
    display: inline-block;
    font-size: x-large;
    margin: 30px;
}
.numOply {
    font-size: 24px;
    margin-right: 20px;
}
.slot {
    composes: vaMid from "../composed.scss";
    width: 3.75vw;
    height: 13.02vh;
    margin: 10px;
}
.selectedPly {
    composes: ss from "../Components/spin.module.scss";
}
.prize {
    margin: 20px;
}
