.cont {
    div {
        height: 200px;
        background: red url("../Assets/logo.webp") no-repeat center;
        opacity: 0.7;
        margin-bottom: 3vh;
    }
    p {
        margin: 6vh;
        font-size: 2.3vh;
    }
    button {
        font-size: smaller;
        padding: 0 1vh;
        margin-top: 2vh;
    }
    a {
        color: unset;
        text-decoration: unset;
    }
}
