.cont {
    div {
        height: 200px;
        background: red url("../Assets/logo.webp") no-repeat center;
        opacity: 0.7;
    }
    p {
        margin: 7%;
        font-size: 2.3vh;
    }
    button {
        font-size: smaller;
        padding: 0 5px;
        margin-top: 15px;
    }
    a {
        color: unset;
        text-decoration: unset;
    }
}
