@keyframes appear {
  from {
    opacity: 0;
    transform: scale(1.1) translateY(5vh);
  }
}
.cont {
  text-align: left;
  animation: appear 1s linear;
  u {
    font-weight: 600;
    margin-left: -1vw;
  }
}
