.cont {
    height: 150px;
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
.atom {
    composes: fontNarrow from "../composed.scss";
    line-height: 0.82;
    font-size: 120px;
    display: inline-block;
    animation: spin 2s linear infinite;
}
.ss {
    animation: spin 0.5s;
}
