.cont {
    margin-top: 45px;
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
.atom {
    composes: fontNarrow from "../composed.scss";
    display: inline-block;
    line-height: 0;
    font-size: 120px;
    padding-bottom: 12px;
    letter-spacing: -98px;
    text-indent: -98px;
    animation: spin 2s linear infinite;
}
.ss {
    animation: spin 0.5s;
}
